
<div class="container text-center">
<h1>About Page</h1>
<p>We are Dev Match.  Our Mission is to create a forum where developers 
and entrepreneurs can meet and work toghether for the benefit of both
while creating awesome projects</p>
</div>