/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 //Typography Styles - fonts selected for <h> tags
 
 h1, h2, h3{
     font-family: 'Open Sans', sans-serif;
 }
  /* Background gradient - Note that comments can be two forward slashes or asterick slash*/
  //Both styles of commenting accepted in scss but not css files
 .navbar, .home-callout {
  background-image: linear-gradient( 179.3deg,  rgba(80,161,252,1) 0.3%, rgba(1,98,203,1) 96.9% );
 }
 //Nav bar styles - refactores code in scss to allow use of nesting
 .navbar-default .navbar-brand, .navbar-default .navbar-nav >li >a  {
  color: white;
  &:hover{
   color: white;
   opacity: 0.75;
  }
 }
 
 //Navbar styles - removed gap between nav bar and header
 .navbar {
 border: none;
 }
 
 .navbar-brand{
  font-family: 'open Sans', sans-serif;
  font-weight: 800;
 }
 
 //Home page styles
 .home-callout{
   color:white;
   margin-top: -20px;
   padding-top: 25px;
   padding-bottom: 50px;
 }
